@media (max-width: 767px){
    .containerAddWidth{
        min-width: 360px;
        width: 100%;
    }

    .containerAdd{
        padding: 10px;
    }

    .headerAdd{
        background: var(--color-header);
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    .headerAdd h2{
        color: #fff;
    }

    .headerAdd button{
        background: var(--color-boton);
        padding: 5px 10px;
        border: none;
    }


    .inputContainer{
        background: var(--color-tareas);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .inputContainer .titleInput{
        font-size: 25px;
        margin: 0;
    }

    .nameInput input,
    .nameInput select{
        border-radius: 8px;
        border: 1px solid var(--color-header);
        height: 30px;
    }
    
    .buttonContainerProject button{
        background: var(--color-boton);
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        transition: .3s;
    }


    .buttonContainerProject button:disabled{
        background: var(--color-fondo);
        cursor: not-allowed;
    }

    .buttonContainerProject button:not(:disabled):hover {
        background: var(--color-boton-hover);
    }
}


@media (min-width: 768px) and (max-width: 1023px){
    .containerAddWidth{
        min-width: 768px;
        width: 100%;
        margin-top: 100px;
    }

    .containerAdd{
        padding: 20px;
    }

    .headerAdd{
        background: var(--color-header);
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .headerAdd h2{
        color: var(--color-tareas);
    }

    .headerAdd button{
        background: var(--color-boton);
        padding: 10px 15px;
        border: none;
    }

    .inputContainer{
        background: var(--color-tareas);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .inputContainer .titleInput{
        font-size: 25px;
        margin: 0;
    }

    .nameInput input,
    .nameInput select{
        border-radius: 8px;
        border: 1px solid var(--color-header);
        height: 30px;
    }
    
    .buttonContainerProject button{
        background: var(--color-boton);
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        transition: .3s;
    }


    .buttonContainerProject button:disabled{
        background: var(--color-fondo);
        cursor: not-allowed;
    }

    .buttonContainerProject button:not(:disabled):hover {
        background: var(--color-boton-hover);
    }
}