:root{
  --color-header: #2F4858;
  --color-fondo: #EAF2F8;
  --color-boton: #FFB627;
  --color-boton-hover: #dd8a00;
  --color-tareas: #FDFDFD;
  --color-danger: #d9534f;
  --color-danger-hover: #c9302c;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background: var(--color-fondo);  
    font-family: 'Arial', sans-serif;
  }